.App {
  text-align: center;
  width: 100%;
  font-family: 'Nova Square', sans-serif;
}

body {
  background-color: #100624;
}

h1 {
  color: #9de2e3; 
  width: 100%;
  text-align: center;
  font-family: 'Nova Square';
  font-size: 50px;
  text-shadow:1px 1px 10px #9de2e3, 1px 1px 10px #9de2e3;
}

#page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#instruction-title {
  grid-column: 1;
  grid-row: 1;
}

#instruction-container {
  grid-column: 1;
  grid-row: 2;
}

#start-button {
  grid-column: 2;
  grid-row: 1;
}

#board-container {
  grid-column: 2;
  grid-row: 2;
}

#history-title {
  grid-column: 3;
  grid-row: 1;
}

#record-containter {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid white;
}

button {
  width: 120px;
  height: 50px;
  margin: 15px;
  border-radius: 8%;
  color: #292928;
  background-color: #9de2e3;
  font-size: 20px;
  outline: none;
  border-style: none;
  transition: 0.3s;
}

button:hover {
  background-color: #100624;
  color: #9de2e3;
  border: 1px solid #9de2e3;
}


h3 {
  color: #9de2e3;
}